<%- include('../component/head/def_head.ejs', {title:title}) %>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<%- include('../component/foot/def_foot.ejs') %>